---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Tititular Home Page Title";
---

<BaseLayout pageTitle={pageTitle}>
	<img
		src="https://i.pinimg.com/originals/9c/83/88/9c838839fcf2197a8d8007b27ba713a3.gif"
		alt="cute"
		width="200px"
	/>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>
